* {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: hsl(0, 0%, 8%);
}

.attribution {
    position: absolute;
    font-size: 11px;
    text-align: center;
    color: #FFFFFF;
    top: 95%;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 611px;
    width: 384px;
    background-color: hsl(0, 0%, 12%);
    border-radius: 12px;
}

.container .image img {
    width: 88px;
    height: 88px;
    border-radius: 100%;
    margin-top: 40px;
}

.heading {
    margin-top: 24px;
    color: hsl(0, 0%, 100%);
    height: 36px;
    width: 304px;
    font-weight: 600;
    text-align: center;
}

.para1 {
    color: hsl(75, 94%, 57%);
    font-size: 14px;
    font-weight: 700;
    height: 21px;
    width: 304px;
    text-align: center;
}

.para2 {
    color: #FFFFFF;
    height: 21px;
    width: 304px;
    text-align: center;
    margin-top: 24px;
    font-size: 14px;
    font-weight: 400;
}

.links {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    text-align: center;
    margin-top: 24px;
    width: 100%;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 14px;
}

.github a {
    display: flex;
    justify-content: center;
    align-items: center;
    background: hsl(0, 0%, 20%);
    height: 45px;
    margin: 0 40px;
    border-radius: 8px;
    text-decoration: none;
    color: #FFFFFF;
    cursor: pointer;
}

.frontend a {
    display: flex;
    justify-content: center;
    align-items: center;
    background: hsl(0, 0%, 20%);
    text-decoration: none;
    color: #FFFFFF;
    height: 45px;
    margin: 0 40px;
    border-radius: 8px;
    cursor: pointer;
}

.linkedin a {
    display: flex;
    justify-content: center;
    align-items: center;
    background: hsl(0, 0%, 20%);
    text-decoration: none;
    color: #FFFFFF;
    height: 45px;
    margin: 0 40px;
    border-radius: 8px;
    cursor: pointer;
}

.twitter a {
    display: flex;
    justify-content: center;
    align-items: center;
    background: hsl(0, 0%, 20%);
    text-decoration: none;
    color: #FFFFFF;
    height: 45px;
    margin: 0 40px;
    border-radius: 8px;
    cursor: pointer;
}

.instagram a {
    display: flex;
    justify-content: center;
    align-items: center;
    background: hsl(0, 0%, 20%);
    text-decoration: none;
    color: #FFFFFF;
    height: 45px;
    margin: 0 40px;
    border-radius: 8px;
    cursor: pointer;
}

.github a:hover {
    background-color: #C4F82A;
    color: #333333;
}

.frontend a:hover {
    background-color: #C4F82A;
    color: #333333;
}

.linkedin a:hover {
    background-color: #C4F82A;
    color: #333333;
}

.twitter a:hover {
    background-color: #C4F82A;
    color: #333333;
}

.instagram a:hover {
    background-color: #C4F82A;
    color: #333333;
}